<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <app-orden></app-orden>
  <table >
    <thead>
      <tr>
        <th>Fecha solicitud</th>
        <th>Categoria</th>
        <th>Descripción</th>
        <th>Servicio</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      @for (item of ordenItem; track $index) {
        <tr>
          <th>{{item.fecha_registro}}</th>
          <th>{{item.categoria}}</th>
          <th>{{item.descripcion}}</th>
          <th>{{item.servicio}}</th>
          <th>{{item.estado}}</th>
        </tr>
      }
    </tbody>
  </table>

</body>
</html>
