<nav class="flex justify-between bg-[#9368b7] py-3 px-10">
    <div class="flex gap-2">
        <a href="#" class="text-white font-semibold">
            <i class="material-symbols-outlined text-2xl">home</i>
        </a>
    </div>

    <div class="flex items-center gap-6">
        <a href="#" class="text-white font-semibold">Usuarios</a>
        <a href="#" class="text-white font-semibold">Ordenes</a>
        <a href="#" class="text-white font-semibold">
            <i class="material-symbols-outlined text-xl">logout</i>
        </a>
    </div>
</nav>